<template>
  <div>
    <h1>List</h1>
    <ul>
      <li @click="addItem" v-for="item in list" :key="item.id">
        {{item.name}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
  },
  data: ()=>({
    list: [
      {id: 1, name:"test"},
      {id: 2, name:"oui"},
    ]
  }),
  methods: {
    addItem: function(){
      this.$data.list.push({
        id: Date.now(),
        name: `todo-${this.$data.list.length+1}`
      });
    }
  },
  created: ()=> console.log("created"),
  mounted: ()=> console.log("mounted"),
  updated: ()=> console.log("updated"),
  destroy: ()=> console.log("destroy"),

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
