<template>
  <div id="app">
    <h1 @click="toggleTheme">{{theme}}</h1>
    <img alt="Vue logo" src="./assets/logo.png">
    <br>
    <a href @click.prevent="toggleIf" >toggleIf</a>
    <br>
    <a href @click.prevent="toggleShow" >toggleShow</a>
    <List v-if="visible" v-show="appear" />
  </div>
</template>

<script>
import List from './components/List.vue'

export default {
  name: 'App',
  components: {
    List
  },
  data : ()=>({
    theme: "light",
    visible: true,
    appear: true
  }),
  methods : {
    toggleTheme : function (){
      this.$data.theme = this.$data.theme == "dark" ? "light" : "dark";
    },
    toggleIf : function (){
      this.$data.visible = !this.$data.visible;
    },
    toggleShow : function (){
      this.$data.appear = !this.$data.appear;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
